<div class="result-container">
  <div class="result-grid">
    <% if(session.session_type === "Practice"){ %>
    <% sessionResult.forEach((result)=>{ %>
    <div class="result-item">
      <div class="result-left">
        <h3>
          <% if(result.position){ %>
            <%= result.position %>
          <%}else{%>
            -
          <%}%>
        </h3>
        <% var driverInfo = driver.find(d=>d.driver_number===result.driver_number) %>
        <%if(driverInfo.headshot_url){%>
        <img class="driver-image" src=<%= driverInfo.headshot_url%>>
        <%}else{%>
        <img class="driver-image" src="svg/person-circle.svg">
        <% } %>
        <h3><%= driverInfo.name_acronym%> </h3>
      </div>
      <div class="result-right">
        <h3><%= result.duration %></h3>
        <h3><%= result.number_of_laps %> Laps</h3>
      </div>
    </div>
    <% }) %>
    <% }else if(session.session_type === "Race"){ %>
    <% sessionResult.forEach((result)=>{ %>
    <div class="result-item">
      <div class="result-left">
        <h3>
          <% if(result.position){ %>
            <%= result.position %>
          <%}else{%>
            -
          <%}%>
        </h3>
        <% var driverInfo = driver.find(d=>d.driver_number===result.driver_number) %>
        <%if(driverInfo.headshot_url){%>
        <img class="driver-image" src=<%= driverInfo.headshot_url%>>
        <%}else{%>
        <img class="driver-image" src="svg/person-circle.svg">
        <% } %>
        <h3><%= driverInfo.name_acronym%> </h3>
      </div>
      <div class="result-right">
        <h3>
          <% if (result.dnf || result.dns || result.dsq) { %>
            <% if (result.dnf) { %>
              DNF<h3>
            <% } else if (result.dns) { %>
              DNS<h3>
            <% } else { %>
              DSQ
            <% } %>
          <% } else if(result.gap_to_leader === 0) { %>
            Leader
          <%}else if(typeof(result.gap_to_leader)==="string"){%>
            <%= result.gap_to_leader %> 
          <% }else{ %>
            <%= Number(result.gap_to_leader).toFixed(3) %> 
          <%}%>
        </h3>
        <% if (!(result.dns || result.dsq)) { %>
        <h3><%= String(result.number_of_laps).padStart(2, '0') %> Laps</h3>
        <% }else{ %>
        <h3 style="margin-left: 2.8rem;">-</h3>
        <% } %>
      </div>
    </div>
    <% }) %>
    <% }else{ %>
    <% sessionResult.forEach((result)=>{ %>
    <div class="result-item">
      <div class="result-left">
        <h3>
          <% if(result.position){ %>
            <%= result.position %>
          <%}else{%>
            -
          <%}%>
        </h3>
        <% var driverInfo = driver.find(d=>d.driver_number===result.driver_number) %>
        <%if(driverInfo.headshot_url){%>
        <img class="driver-image" src=<%= driverInfo.headshot_url%>>
        <%}else{%>
        <img class="driver-image" src="svg/person-circle.svg">
        <% } %>
        <h3><%= driverInfo.name_acronym%> </h3>
      </div>
      <div class="result-right">
        <h3>
          <% if (result.duration[0] === "00:00:000") { %>
          No Time
          <% } else { %>
          <%= result.duration[0] %>
          <% } %>
        </h3>
        <h3>
          <% if (result.duration[1] === "00:00:000") { %>
          No Time
          <% } else { %>
          <%= result.duration[1] %>
          <% } %>
        </h3>
        <h3>
          <% if (result.duration[2] === "00:00:000") { %>
          No Time
          <% } else { %>
          <%= result.duration[2] %>
          <% } %>
        </h3>
      </div>
    </div>
    <% }) %>
    <% } %>
  </div>
</div>